.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m {
    margin: 10px;
}

app-userscards {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}