
<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">

            <div class="col-2 col-12-medium">
                <!-- Sidebar -->
                <section>
                    <header class="txt-center">
                        <h2>Menú</h2>
                        <hr>
                    </header>
                    <ul class="link-list">
                        <li><a (click)="myPosts()">Ver mis posts</a></li>
                        <li><a (click)="myAlbums()">Ver mis albums</a></li>
                        <li><a (click)="myTodos()">Ver mis TO DOs</a></li>
                        <li *ngIf="back"><a (click)="menuBack()">Volver</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-10 col-12-medium" *ngIf="infoUser">

                <!-- Main content -->
                <div class="center">
                    <app-userscards [user]="user" [userInfo]="infoUser"></app-userscards>
                </div>

            
            </div>

            <div class="col-10 col-12-medium" *ngIf="infoPosts">

                <div class="wrap">
                    <!-- Main content -->
                <div *ngFor="let post of posts">
                    <app-cards [post]="post" [isPost]="infoPosts"></app-cards>
                </div>
                </div>
            
            </div>

            <div class="col-10 col-12-medium" *ngIf="infoAlbums">

                <div class="wrap">
                    <!-- Main content -->
                <div *ngFor="let album of albums">
                    <app-cards [album]="album" [isAlbum]="infoAlbums"></app-cards>
                </div>
                </div>
            
            </div>

            <div class="col-10 col-12-medium" *ngIf="infoTodos">

                <div class="wrap">
                    <!-- Main content -->
                <div *ngFor="let todo of todos">
                    <app-cards [todos]="todo" [isTodos]="infoTodos"></app-cards>
                </div>
                </div>
            
            </div>
    
        </div>
    </div>
</section>
