
<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">

            <div class="col-2 col-12-medium">
                <!-- Sidebar -->
                <section>
                    <header class="txt-center">
                        <h2>Menú</h2>
                        <hr>
                    </header>
                    <ul class="link-list">
                        <li><a (click)="myPosts()">Ver mis posts</a></li>
                        <li><a href="#">Ver mis albums</a></li>
                        <li><a href="#">Ver mis TO DOs</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-10 col-12-medium" *ngIf="info">

                <!-- Main content -->
                <div class="space">
                    <app-userscards [user]="user"></app-userscards>
                </div>

            
            </div>

            <div class="col-10 col-12-medium" *ngIf="infoPosts">

                <div class="wrap">
                    <!-- Main content -->
                <div *ngFor="let post of posts">
                    <app-cards [posts]="post"></app-cards>
                </div>
                </div>

            
            </div>
    
        </div>
    </div>
</section>
