.space {
    display: flex;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.txt-center {
    text-align: center;
}

button {
    margin: 2px;
}

a {
    cursor: pointer;
}