<section id="content">
    <div class="container">
        <div class="row">
            <!-- CONTINUAR -->
            <!-- <div class="col-12 col-12-medium">

                    <div class="center">
                        <app-search-input></app-search-input>
                    </div>              
                    
                
            </div> -->
            <div class="col-12 col-12-medium">
                
                <div class="wrap">
                    <div *ngFor="let td of todos">
                        <app-cards [todos]="td" [isTodos]="infoTodos"></app-cards>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</section>
