<section style="width: 500px;">
    <header class="txt-center">
        <h2> {{user.name}} </h2>
        <!-- <h3> {{user.username}} </h3> -->
    </header>
    <hr>
    <div class="img-center">
        <img src="https://avatars.dicebear.com/api/miniavs/{{user.name}}.svg" alt="user avatar">
    </div>
    <hr>
   <div class="txt-center" *ngIf="userInfo">
    <p>
        Web: {{ user.website }}
    </p>
    <p>
        Empresa: {{ user.company.name }}
    </p>
    <p>
        Información: {{ user.company.catchPhrase}}
    </p>
   </div>
</section>
