<!-- Content -->
<section id=content *ngIf="mostrar">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium" *ngFor="let user of users; let i= index">
                <!-- Main Content -->
                <section>
                    <header>
                        <h2> {{ users[i].name }} </h2>
                    </header>
                    <div class="center">
                        <img src="https://avatars.dicebear.com/api/gridy/{{users[i].name}}.svg" alt="avatar image" style="max-height: 250px;"/>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
