<!-- Content -->
<section id="content" *ngIf="mostrar">
    <div class="container" >
        <mat-card>
            <mat-card-title>
                {{ post.title }}
            <hr>
            </mat-card-title>
            
            <!-- <mat-card-subtitle>User ID</mat-card-subtitle> -->
            <mat-card-content>
                <p>
                    {{post.body}}
                </p>
                <hr>
                <div *ngIf="mostrar2">
                    <div class="comments" *ngFor="let c of comments; let i = index;">
                        <h2> {{comments[i].name}} </h2>
                        <p> {{comments[i].email}} </p>
                        <p>
                            {{comments[i].body}}
                        </p>
                    </div>
                </div>
            </mat-card-content>
            
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="openComents()"> {{ text }} </button>         
            </mat-card-actions>
        </mat-card>
    </div>
</section>
