<!-- Content -->
<section id="content" *ngIf="mostrar">
    <div class="container">
        <div class="row">
            <div class="col-3 col-12-medium">

                <!-- Left Sidebar -->
                    <section>
                        <header>
                            <h2>Menú</h2>
                        </header>
                        <ul class="link-list">
                            <li><a (click)=posts()>Ver todos mis posteos</a></li>
                            <li><a (click)=albums()>Ver todos mis álbumes</a></li>
                            <li><a (click)=todos()>Ver mis TO DO's</a></li>
                        </ul>
                    </section>
            </div>

            <div class="col-9 col-12-medium imp-medium">

                <!-- Main Content -->
                <section>
                    <header>
                        <h2> {{ user.name }} </h2>
                    </header>
                    <img src="https://avatars.dicebear.com/api/initials/{{user.name}}.svg" alt="avatar image" style="max-height: 250px;"/>
                </section>

                <section>
                    <header>
                        <h2>Sitio Wep</h2>
                    </header>
                    <ul class="link-list">
                        <li><a href="#"> {{ user.website }} </a></li>
                    </ul>
                </section>

                <section>
                    <header>
                        <h2>Empresa</h2>
                    </header>
                    <p>
                        {{ user.company.name }}
                    </p>
                    <p>
                        {{ user.company.catchPhrase}}
                    </p>
                    <p>
                        {{ user.company.bs }}
                    </p>
                </section>

            </div>
            
            
        </div>
    </div>
</section>
