<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-12-medium">

                <div class="center" *ngIf="spinner">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="wrap">
                    <div *ngFor="let p of posts" class=" animate__animated animate__fadeIn">
                        <app-cards [post]="p" [isPost]="infoPost"></app-cards>
                    </div>
                </div>               
                

            </div>
        </div>
    </div>
</section>
