<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Logo -->
                    <h1><a href="index.html" id="logo">Blog Challenge</a></h1>

                <!-- Nav -->
                    <nav id="nav">
                        <a href="index.html">Login</a>
                        <a href="threecolumn.html">Mi Perfil</a>
                        <a href="twocolumn1.html">Usuarios</a>
                        <a href="twocolumn2.html">Posteos</a>
                        <a href="onecolumn.html">Álbumes</a>
                        <a href="onecolumn.html">TO-DOs</a>
                    </nav>

            </div>
        </div>
    </div>
     <div id="banner">
        <div class="container">
            <div class="row">
                <div class="col-6 col-12-medium">

                     <!-- Banner Copy -->
                        <p>¿Todavía no te creaste una cuenta? Qué estás esperando!</p>
                        <a href="#" class="button-large">Click aquí para registrarte!</a>

                </div>
                <div class="col-6 col-12-medium imp-medium">

                     <!-- Banner Image -->
                        <a href="#" class="bordered-feature-image"><img src="assets/images/banner.jpg" alt="" /></a>

                </div>
            </div>
        </div>
    </div>
</section>
