<section>
    <div class="container">
        <div class="center">
            <mat-card class="example-form">
                <form 
                autocomplete="off"
                (ngSubmit)="createPost()"
                [formGroup]="postForm">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Título</mat-label>
                        <input matInput placeholder="Tengo un tractor amarillo" formControlName="title">
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contenido</mat-label>
                        <textarea matInput placeholder="Contenido de la publicación..." formControlName="body"></textarea>
                    </mat-form-field>
    
                    <button mat-raised-button color="accent" type="submit">Crear post</button>    
    
                </form>
            </mat-card>
        </div>
    </div>
</section>
