<!-- Content -->
<section id=content *ngIf="mostrar">
    <div class="container">
        <div class="row">
            <div class="col-3 col-12-medium">
                <section>
                    <header>
                        <h2>Menú</h2>
                        <hr>
                    </header>
                    <div>
                        <button mat-raised-button color="accent" (click)="createPost()">Crear Post</button>
                    </div>
                </section>
            </div>
            <div class="col-9 col-12-medium">
                <div class="div-container">
                    <!-- Main Content -->
                    <mat-card *ngFor="let post of posts; let i= index" class="card">
                        <mat-card-header>
                            <mat-card-title>
                                <h2> {{ posts[i].title }} </h2>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <div>
                                <button mat-raised-button color="accent" (click)="modify(post)">Modificar</button>
                                <button mat-raised-button color="accent" (click)="deletePost(i)">Eliminar</button>
                                <button mat-raised-button color="primary" >Detalles</button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                   
                </div>
            </div>
        </div>
    </div>
</section>
